
<div class="app-container">
  <router-outlet></router-outlet>  
  
  <div class="left-side">
    <div class="search-fitness-services">
      <span class="label">Search Fitness Services</span>
      
      <div class="input">
        <input type="" name="">
        <mat-icon matSuffix>place</mat-icon>
      </div>
    </div>  

    <div class="additional-filter">
      <span class="label">Additional Filters</span>
      
      <div class="input">
        <select>
          <option>Not Selected</option>
          <option>Yoga</option>
          <option>Boxing</option>
          <option>Swimming</option>
          <option>Crossfit</option>
          
        </select>
        
      </div>
    </div>  
  </div>

  <div class="right-side">
    <agm-map [latitude]="70" [longitude]="70"></agm-map>
    <div class="header-search">
      <div class="header-search-content">
        <div class="location-search">
          <mat-icon class="mylocation" matSuffix>my_location</mat-icon>
          <input type="text" name="">
          <mat-icon class="search" matSuffix>search</mat-icon>
        </div>
        <div class="range-search">
          <input type="text" name="">
          <span class="mi">mi</span>
        </div>
        <div class="trans-search">
          <mat-icon class="mylocation" matSuffix>drive_eta</mat-icon>
          <select>
            <option>Driving</option>
            <option>Biking</option>
            <option>Walking</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

